# Set authentication
API_VERSION=
AZURE_API_KEY=
OPENAI_AZURE_ENDPOINT=

# Set VertexAI credential for triage alignment
GOOGLE_APPLICATION_CREDENTIALS="./secret/gcp_secret.json"
VERTEX_REGION="us-central1"

# Set Model version
AZURE_OPENAI_MODEL=